/* App.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-100);
  transition: background-color 0.3s;
}

.dark-mode .app {
  background-color: var(--bg-300);
}

/* Styling for the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Styling for the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
}

/* Styling for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-200); /* Adjust this to match your color scheme */
  border-radius: 4px;
}

/* Styling for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-300); /* Adjust this to match your color scheme */
}

/* Styling for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: var(--bg-200); /* Adjust this to match your color scheme */
}

/* Styling for the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  background-color: var(--bg-300); /* Adjust this to match your color scheme */
}

/* Additional global styles if needed */
